@model Hard.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit product";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/images/@Model.Id/@Model.Image" alt="@Model.Image" style="width: 50px; height: 50px" />
            </div>
            <div class="form-group">
                
                <label asp-for="UploadImage" class="control-label"></label>
                <div class="custom-file">
                    <input type="hidden" id="Image" asp-for="Image" />
                    <input type="file" class="custom-file-input" id="UploadImage" asp-for="UploadImage" />
                    <label id="UploadImageLabel" class="custom-file-label" for="UploadImage"></label>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" href="javascript:window.history.back();">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#UploadImage").change(function () {
            $("#UploadImageLabel").text(this.files[0].name);
            $("#Image").val(this.files[0].name);
        })
        $("#Image").attr("data-val", "true");
        $("#Image").attr("data-val-required", 'The field "Image" is mandatory.');
        $("#UploadImageLabel").text("@Model.Image");
    </script>
}
